@font-face {
    font-family: open;
    src: url(../fonts/opensans/OpenSans-Regular.woff2);
    font-weight: normal;
}
@font-face {
    font-family: open;
    src: url(../fonts/opensans/OpenSans-Semibold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: open;
    src: url(../fonts/opensans/OpenSans-Bold.woff2);
    font-weight: bold;
}
@font-face {
    font-family: open;
    src: url(../fonts/opensans/OpenSans-Light.woff2);
    font-weight: 300;
}
html, body {
  background-color: #EEF1F9;
  color: #4e5e6a;
  font-family: open;
}

h1, h2, h3, h4 {
  font-weight: normal; }

h1, h2, h3 {
  margin: 10px 0; }

h4, h5, h6 {
  margin: 10px 0; }

h4 {
  font-size: 18px; }

h5 { }
a{color:#29689e;}
.font-13{font-size: 1.3rem}
.dev-p-1{padding: 1rem !important}
.mtb-2{margin:2rem 0;}
.pd-0{padding: 0 !important}
b.bold{font-weight: bold;}
.border-top{border-top:1px solid #ccc;}
.card-body .nav-tabs{margin-top:-15px;}
.nav-bordered a.active{border-bottom: 2px solid #3bafda!important;}

.logo-box{background: none;}
.logo-box img{filter: brightness(0.8);}

/*Menu left */
.left-side-menu{background: #fff;}
#sidebar-menu>ul>li>a{color: #7b8190;}
#sidebar-menu>ul>li>a.active{color: #fff !important;text-decoration: none;background: #3bafda !important;}
#sidebar-menu>ul>li>a i{margin-right: 5px;font-size: 1.25rem;margin-top: 3px;}
#sidebar-menu>ul>li>a{padding: 10px 20px;border-radius: 3px;margin: 0px 5px;font-size: 0.95rem;font-size: 15px;font-weight: 400;}
#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover,.metismenu li a[aria-expanded=true] {color: #000;text-decoration: none;background: #F4F6F8;}
#sidebar-menu>ul>li>ul {padding-left: 12px;background: #fff;}
.nav-second-level li>a.active, .nav-thrid-level li>a.active{color:#3bafda;}
.nav-second-level li a:focus, .nav-second-level li a:hover, .nav-thrid-level li a:focus, .nav-thrid-level li a:hover{color:#3bafda;}
.enlarged .left-side-menu #sidebar-menu>ul>li>a{margin-left: 0px;margin-right: 0px;}
.enlarged .left-side-menu #sidebar-menu>ul>li:hover>a{background: #3bafda;box-shadow: none;color: #fff !important;}
.enlarged .left-side-menu #sidebar-menu>ul>li:hover>ul{background:#fff;}
.left-side-menu{-webkit-transition: all 0s ease-out;transition: all 0s ease-out;}
/*End Menu left */

/*Pagination */
.breadcrumb-item>a i{position: relative;top:2px;}
.breadcrumb-item>a{line-height: 15px;}
/*End Pagination */

/*custom  input*/
.pmb-0{padding-bottom: 0 !important}
a.btn{cursor: pointer;}
.btn-icon{display: inline-flex;align-items: center;justify-content: center;width: 30px;height: 30px;}
.btn-icon-mini{width: 20px;height: 20px;padding:0;}
.btn-icon i{font-size: 0.75rem;}
.form-search .input-group-sm>.custom-select, .form-search .input-group-sm>.form-control:not(textarea){height: calc(2.2em + .5rem + 2px);}
.custom-checkbox{padding-left: 2rem !important}
.custom-control-label{cursor: pointer;}
.custom-file-dev{position: absolute;top:0;left:0;right:0;bottom:0;cursor: pointer;}
.custom-file-dev input{width: 100%;height: 100%;opacity: 0;cursor: pointer;}
.input-group-text--custom{border: none;font-weight: 600;background: #e3e7e8;border-radius: 0px 5px 5px 0px !important;color: #828282;}
.input-group--custom input{background: #fff !important;border: none !important;border-bottom: 1px solid #ccc !important;border-radius: 0px;}
.bootstrap-touchspin .form-control,.btn-operator.form-control{height: 30px;padding: 0px 5px;}

.w-150{width: 150px;}
input.btn-operator.form-control::-webkit-outer-spin-button,
input.btn-operator.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.btn-operator.form-control[type=number] {
  -moz-appearance: textfield;
}
.select2-container--default .select2-selection--single .select2-selection__clear {cursor: pointer;float: left;font-weight: bold;background: #3bafda;width: 15px;height: 16px;display: flex;align-items: center;justify-content: center;color: #fff;border-radius: 2px;margin-top: 10px;margin-right: 5px;}
.select2-results__option--highlighted *{color:#fff !important;}
/*Custom */
.dropzone{cursor: pointer;}
.fs-15{font-size: 12px;}
.content-page{padding: 0 0px 65px 0px;/* position: relative; */overflow-y: auto!important;height: 100%;}
.account-pages{overflow:hidden;position: absolute;top:0;left: 30px;right:30px;bottom:0;display: flex;align-items: center;justify-content: center}
#alert-container ul{margin-bottom: 0px;list-style: none;margin-left: 0px;padding-left: 0px;}
.switchery-small {border-radius: 20px;height: 13px;width: 25px;margin-top:3px;}
.switchery-small>small {height: 13px;width: 13px;}
.spinner-border-sm{min-width: 15px;min-height: 15px;}
.sticky-top-70{position: sticky;top:70px;margin-bottom: 62px;}
.dropdown-custom{position: relative;}
.dropdown-menu-custom {-webkit-box-shadow: 0 0 8px 0 rgb(154 161 171 / 30%);box-shadow: 0 0 8px 0 rgb(154 161 171 / 30%);-webkit-animation-name: DropDownSlide;animation-name: DropDownSlide;-webkit-animation-duration: .3s;animation-duration: .3s;-webkit-animation-fill-mode: both;animation-fill-mode: both;margin: 0;border: none;font-size: .9rem;position: absolute;z-index: 1000;width: 320px;background: #fff;display: none;}
.dropdown-menu-custom.show {top: 117%!important;display: block;width: 370px;}
.card .card-header{}
.line{width: 100%;height: 1px;background: #ccc;margin:10px 0px;}


.navbar-custom{z-index: 999 !important;top:0px;}
.nav-second-level li a, .nav-thrid-level li a{display: flex;color: #383c40;}
.nav-second-level li a i, .nav-thrid-level li a i{margin-right: 5px;top:1px;position: relative;}
.nav-tabs-custom{}
.nav-tabs-custom.nav-bordered .nav-link{font-weight: normal;font-size: 14px;text-transform: uppercase;}
.nav-tabs-custom.nav-bordered .nav-link.active{font-weight: 600;border-bottom: 2px solid #9a9a9a!important;}

.bootstrap-select .dropdown-menu{min-width: 100% !important}
.bootstrap-select .inner{overflow-y: scroll !important;max-height: 300px !important}
.select2-container--default .select2-results__option--highlighted[aria-selected],.select2-container--default .select2-results__option--highlighted[aria-selected],.select2-container .select2-selection--multiple .select2-selection__choice,.select2-container--default .select2-results__option[aria-selected=true]:hover{background-color:#37cde6;color: #fff;}

.page-title-box{margin: 0 -25px 15px;}

/*position*/
.relative{position: relative;}
.absolute{position: absolute;top:0;left: 0;right:0;}
.z-index-0{z-index: 0;}
.z-index-1{z-index: 1;}
.rounded-white{background: #fff;border-radius: 50%;}
/* End position*/

/*loading*/
.container-fluid{transition:1s;opacity:0;}
#pre-loader{position: fixed;height: 90vh;left: 0;right:0;z-index: 99;}
.app-loader {width: 90px;height: 90px;margin: auto;position: absolute;/*bottom: 45px;*//*right: 5px;*/padding: 10px;border-radius: 50%;background: transparent;z-index: 99;}
.app-loader .loading {width: 70px;height: 70px;border-radius: 50%;-webkit-box-sizing: border-box;box-sizing: border-box;border: solid 2px #6690F4;border-top-color: #fff;animation: spin 1s infinite linear;-webkit-animation: spin 1s infinite linear;display: inline-block; }
.table-loader .loading {width: 50px;height: 50px;border-radius: 50%;-webkit-box-sizing: border-box;box-sizing: border-box;border: solid 2px #6690F4;border-top-color: #fff;animation: spin 1s infinite linear;-webkit-animation: spin 1s infinite linear;display: inline-block; }
#pre-loader .app-loader {top: 38%;left: calc(50% + 60px);}
/*End loading*/

.ajax-form{cursor: pointer;}
.needs-validation .form-group label{font-weight: normal;}
.needs-validation .form-control:not(#form-login .form-control,.needs-validation textarea.form-control,.input-dev-default){position: relative;box-sizing: border-box;font-size: 14px;border-color: #f6f8f9;background-color: #f6f8f9;color: #4e5e6a;box-shadow: none;}
.fade{-webkit-transition: opacity .15s linear;transition: opacity .15s linear;}


.no-border,.no-footer{border:0px;}
.flex-wrap-initial{flex-wrap: initial}
.form-control.is-invalid~.invalid-feedback.flex-custom-end,.was-validated .form-control:invalid~.invalid-feedback.flex-custom-end{width: 50px;display: flex;align-items: center;justify-content: center;margin: 0px;font-size: 20px;}
.page-link{border:none;}
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #c6ccd2;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #b8bfc7; }

::-webkit-scrollbar-thumb:active {
  background: #b8bfc7; }

@media (min-width: 990px){
  .table-responsive{overflow: unset;}
}
@media (min-width: 768px){
  .hidden-sm{display: none;}
}
@media (max-width: 767px){
  .nav-dev-block{display: block;}
  .nav-dev-block li{ margin: .5em 0 !important;}
  .hidden-xs{display: none;}
  .mtb-sm-2{margin:2rem 0;}
  .mtb-sm-1{margin:1rem 0;}
  .mtb-sm-0-5{margin:0.5rem 0;}
  #pre-loader .app-loader{left: calc(50% - 35px);}
    li.paginate_button{display: inline-block;}
    li.paginate_button.next, li.paginate_button.previous{font-size: inherit;}
}  

select[readonly],select[readonly] ~ button.dropdown-toggle,select option[readonly] {
  pointer-events: none;
  touch-action: none;
}

/*datatable*/
.tablesaw td{border:none;}
.tablesaw{border: 1px solid #f1f5f7}
.tablesaw tbody tr:nth-of-type(odd){background:none;}
td.details-control {
    background: url(../images/details_open.png) no-repeat center center;
    cursor: pointer;
    width: 18px;
}
tr.shown td.details-control {
    background: url(../images/details_close.png) no-repeat center center;
}
#productModal th:nth-child(1) {
  width: 10px !important;
  max-width: 10px;
}
table.dataTable td, table.dataTable th{text-align: center;}
div.dataTables_wrapper div.dataTables_info{text-align: left;}
table.dataTable th:last-child{min-width: 75px !important;}
th.mw-100{min-width: 100px !important;}

/*End datatable*/



  

